#header {
  height: 10rem;
  /* box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1); */
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: rgb(2, 98, 223);
}

.header__nav__cart {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__nav__cart .cart__label {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  user-select: none;
}

.cart__label .icon {
  position: relative;
}

.cart__label .icon img {
  width: 4rem;
}

.cart__label .text {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-size: 2rem;
  font-weight: 500;
}

.cart__label .down-arrow {
  width: 2rem;
}

.cart__label .count {
  position: absolute;
  right: -1rem;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  background: rgb(2, 98, 223);
  border: 1px solid rgb(2, 75, 170);
  color: white;
}

.cart__label .count.active {
  display: flex;
}

.cart__dropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 1rem);
  z-index: 1000;

  width: 85vw;
  max-width: 500px;

  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 6px 25px rgba(0, 0, 0, 0.2);

  visibility: hidden;
  opacity: 0;
  translate: 0 1rem;
  transition: 200ms ease-in;
}

.cart__dropdown.open {
  visibility: visible;
  opacity: 1;
  translate: 0 0;
}

.cart__dropdown .products {
  padding: 1rem;
  max-height: 500px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .cart__dropdown .products {
    padding: 2rem;
  }
}

.cart__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart__product__image {
  width: 8rem;
  margin-right: 2rem;
}

.cart__product__info {
  flex: 1;
}

.cart__product__info .name {
  color: #444;
  font-size: 1.5rem;
}

.cart__product__info .price {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.cart__product__info .quantity span {
  font-weight: 600;
}

.cart__product__info .quantity input {
  width: 6rem;
  padding: 0.25rem;
  font-size: 1.6rem;
}

.cart__dropdown__footer {
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.cart__dropdown__footer .total {
  font-size: 2rem;
}
.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart img {
  max-width: 30rem;
  width: 100%;
}
