#products {
  padding: 4rem 0 10rem;
}

#products .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 5rem 2rem;
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.product-card .card__image {
  cursor: pointer;
}

.product-card .card__info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-card .card__info .name {
  font-size: 1.5rem;
  color: #444;
}

.product-card .card__info .price {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.product-card .card__info .btns {
  display: flex;
  justify-content: space-between;
}

.remove-from-cart {
  font-size: 1.4rem;
}
